<div class="container">
  <form [formGroup]="form" class="form" (ngSubmit)="login()">
    <p class="form__title">Авторизация</p>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="ivan@mail.ru"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Пароль"
      />
    </mat-form-field>
    <p *ngIf="loginError" class="login-error">Неверный логин или пароль</p>
    <button
      mat-raised-button
      class="submit-btn"
      type="submit"
      [disabled]="form.invalid"
    >
      Войти
    </button>
    <p class="form__signup-hint">
      Нет аккаунта?
      <a routerLink="/signup">Зарегистрироваться</a>
    </p>
  </form>
</div>
